language: objective-c
osx_image: xcode61
rvm:
- 2.1.2
before_install:
 - chmod +x ./Scripts/install.sh
 - chmod +x ./Scripts/build.sh
 - brew install mono
install:
- ./Scripts/install.sh
script:
- ./Scripts/build.sh
